body {
/*background: url(../img/background.png);*/
}
.cont { margin: 0 auto 0 auto;background-color: white; padding:22px; min-height:320px;}
.cont p{font-size:200%; line-height:150%;}
.joke-info{background-color:white;margin:10px 0;background-color:#EDF5F8;}
.shadow {
-o-box-shadow: 0px 0px 10px #444;
-icab-box-shadow: 0px 0px 10px #444;
-khtml-box-shadow: 0px 0px 10px #444;
-moz-box-shadow: 0px 0px 10px #444;
-webkit-box-shadow: 0px 0px 10px #444; 
box-shadow: 0px 0px 10px #444;
}
.about-this p{padding:10px;}
.vote{text-align:center;}
.vote a{cursor:pointer; margin:10px 10px;}
a.btn:link, a.btn:visited, a.btn:active {color:white;}
.well{background-color: #EDF5F8; border: 1px solid #A2BEC7;}
.pagination{background-color:white;}
.hero-unit p{line-height:50px;}

.nav                { height: 42px; margin: 0 0 0 0; padding: 0; font-size: 15px;
                      list-style: none; }
.nav li:before      { display: none; }
.nav li             { float: left; padding: 0; background: #D3E6EC;
                      margin: 0 8px 0 0; }
.nav li a           { padding: 4px 8px; display: block; text-decoration: none; }
.nav li a:hover     { color: white; background: #004B6B; }
.nav .active a      { border-bottom: 3px solid #004B6B; }


.joke-add textarea{font-family:"Hoefler Text",Cambria,Utopia,"Liberation Serif","Nimbus Roman No9 L",Times,"Times New Roman","宋体","Hiragino Sans GB","WenQuanYi Micro     Hei",sans-serif;font-size:30px;width:100%; height:450px;line-height:50px; -moz-box-sizing:border-box; -webkit-box-sizing: border-box; box-sizing:border-box; padding:20px; }

.search-area form input[name="q"] { width:100%; }


@media (max-width: 480px) {
.cont p{font-size:110%;}
.cont {min-height:200px;}
.joke-info{display:none;}
.vote a span{display:none;}
.hero-unit h1{font-size:50px;}
}
