<!doctype html>
<html>
    <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta names="apple-mobile-web-app-status-bar-style" content="black-translucent" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

	
	<link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet">
	<link href="/static/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
	<!--<link href="/static/css/shared.css" rel="stylesheet">-->
	<link href="/static/css/ishuoxiao.css" rel="stylesheet">
	<script type="text/javascript" src="/static/js/jquery-1.7.1.min.js"></script>
	<script type="text/javascript" src="/static/js/jquery.cookie.js"></script>
	<script type="text/javascript" src="/static/bootstrap/js/bootstrap.js"></script>
	<script type="text/javascript" src="/static/js/underscore.js"></script>
<style>
footer{margin-top: 45px; padding: 35px 0 36px; border-top: 1px solid #E5E5E5;}
</style>
      <title>爱说笑 - 互联网上最全的中文段子库</title>
      <script>
$(function(){
	$('.navbar .nav a').each(function(){ $(this).attr('href') == location.pathname && $(this).parent('li').addClass('active'); })
});
      </script>
    </head>
    <body>
<div class="container">

<header>
	<div>
		<h1>爱说笑</h1>
	</div>
	 <ul class="nav">
		  <li class="">
			<a href="/">首页</a>
		  </li>
		  <li class="">
			<a href="/page/1/">所有</a>
		  </li>
		  <li class="">
			<a href="{{ reverse_url('random_page') }}">随机</a>
		  </li>
		  <li class="">
			<a href="{{ reverse_url("add") }}">添加</a>
		  </li>
		  <li class="">
			<a href="{{ reverse_url("about") }}">关于</a>
		  </li>
	</ul>
</header>
{% block body %}
{% end %}
	<footer class="footer">
        <p class="pull-right"><a href="#">Back to top</a></p>
		<p>By <a href="http://weibo.com/n0ts0bad">@notsobad</a></p>
	  </footer>
</div>
    </body>
</html>
