<html><head><meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js"></script>
<title>分享网址到notsobad.me</title> 
<style type="text/css">
* { margin: 0px; padding: 0px;outline: none; }
body { background: black; color:white;}
h1{text-align:center;} 
form { border: 1px solid #270644; width: 500px; -moz-border-radius: 20px; -webkit-border-radius: 20px; background:  -moz-linear-gradient(19% 75% 90deg,#90EE90, #008000); background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#90EE90), to(#008000)); margin:50px auto; padding: 20px; -moz-box-shadow:0px -5px 300px #270644; -webkit-box-shadow:0px -5px 300px #270644; }

label { font-size: 12px; font-family: arial, sans-serif; list-style-type: none; color: #fff; text-shadow: #000 1px 1px; margin-bottom: 10px; font-weight: bold; letter-spacing: 1px; text-transform: uppercase; display: block; } 
input { -webkit-transition-property: -webkit-box-shadow, background; -webkit-transition-duration: 0.25s; padding: 6px; border-bottom: 0px; border-left: 0px; border-right: 0px; border-top: 1px solid #ad64e0; -moz-box-shadow: 0px 0px 2px #000; -webkit-box-shadow: 0px 0px 2px #000; margin-bottom: 10px; background: white; width: 480px; }
.submit{width:100px; background-color:black;color:white; border:0;}
.submit:hover {color:black;}
input:hover {-webkit-box-shadow: 0px 0px 4px #000;background: #E6E6FA;}
</style>
<script> 
</script> 
</head>
<body>
<h1>分享网址到notsobad.me</h1>
<form>
		<label>标题:</label>
			<input type="text" name="title" />
		<label>网址:</label>
			<input type="text" name="url" />
			<input type="submit" value="提交" name="submit" class="submit" />
</form>

</body>
</html>
