{% extends "base.html" %}
{% block body %}
<script>
$(function(){
	var pk = $.cookie('pk');
	if(pk){
		var html = _.template( $('#tpl-last-visit').html(), {pk:pk} );
		$('.header').html(html);
	}
});
</script>
<style>
span.fade{color:#ccc;opacity: 1;}
</style>
<div class="header"></div>
<div class="jumbotron">
  <h1>爱说笑</h1>
  <p>互联网上最大的中文笑话数据库</p>
  <p>
	<a class="btn btn-success btn-large" href="{{ reverse_url('random_page') }}">
	  <span class="glyphicon glyphicon-random"></span>  随便看看
	</a>
  </p>
</div>

<script type="text/tpl" id="tpl-last-visit">
<div class="alert alert-info">
你上次访问的页面为<a href="/joke/<%= pk %>/">/joke/<%= pk %>/</a>, 你可以继续访问.
</div>
</script>
{% end %}
