{% extends "base.html" %}
{% block body %}
<style>
span.fade{color:#ccc;opacity: 1;}
</style>
<div class="header"></div>
<div class="row">
	<div class="col-md-7">
		<div class="box main">
		{% for item in items %}
			<div class="well">
				<p>{{ item['cont'] }}</p>
				<i><a href="{{ reverse_url('joke', item['_id']) }}">{{ item['_id'] }}</a></i>
			</div>
		{% end %}
		</div>
	</div>
	<div class="col-md-5">
		{% comment include "widget/about_box.html" %}
		{% include "widget/search_box.html" %}
	</div>
</div><!--EOF row-->
{% include "widget/utils.html" %}
{% end %}
