{% extends "base.html" %}
{% block title %}{{ item['cont'][:16] }}...{% end %}
{% autoescape None %}

{% block body %}
<script>
var pk = location.href.replace(/.*\/joke\/([^\/]+)\//g, "$1");
var api_vote = '{{ reverse_url("api-vote") }}';
$(function(){
	$.cookie('pk', pk, {expires:365, path:'/'});

	$('.vote a').click(function(){
		if($(this).hasClass('disabled')){
			return;
		}
		var act = $(this).hasClass('upvote') ? 'up' : 'down';
		$('.vote a').addClass('disabled');

		$.post(api_vote, {'act':act, 'pk':pk}, function(){
			location.reload();
		});
	});
	$(document).pjax('a[data-pjax]', '#pjax-container');
});

</script>
<div class="row" id="pjax-container">
{% include "joke_body.html" %}
</div>
{% comment include "widget/jiathis.html" %}
{% end %}
