{% extends "base.html" %}
{% block body %}
<script>
var pk = '{{ item["_id"] }}';
$(function(){
	$.cookie('pk', pk, {expires:365, path:'/'});
});
</script>
<div class="row">
	<div class="col-md-7">
		<article class="well main cont">
			<p class="">{{ item['cont'] }}</p>
			<p><a href="{{ reverse_url("edit", item['_id']) }}">编辑</a> <a href="{{ reverse_url("delete", item['_id']) }}">删除</a> </p>
		</article>
	
		<div class="vote">
			<a class="downvote btn btn-danger btn-large" href="{{ reverse_url('joke', next_pk) }}">
				<span class="glyphicon glyphicon-thumbs-down"></span>  
				滥！下一个
			</a>
			<a class="btn btn-success btn-large" href="{{ reverse_url('random_page') }}">
			  <span class="glyphicon glyphicon-random"></span>  随便看看
			</a>
			<a class="upvote btn btn-warning btn-large" href="{{ reverse_url('joke', next_pk) }}">
				<span class="glyphicon glyphicon-thumbs-up"></span>  
				赞！下一个
			</a>
		</div>

	</div>
	<div class="col-md-5">
		<table class="table table-striped joke-info">
				<tr>
					<td>来源</td>
					<td>{{ item['source'] }}</td>
				</tr>
				<tr>
					<td>HASH</td>
					<td>{{ item['md5'] }}</td>
				</tr>
				<tr>
					<td>永久网址</td>
					<td><a href="{{ reverse_url('joke', item['_id']) }}">{{ reverse_url('joke', item['_id']) }}</a></td>
				</tr>
		</table>
		{% comment include "widget/about_box.html" %}
		{% include "widget/search_box.html" %}
	</div>
</div>
{% include "widget/jiathis.html" %}
{% end %}
