{% extends "base.html" %}
{% block title %}{{ tag }}{% end %}
{% block body %}
<div class="header">
<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li class="active">{{ tag }}</li>
</ol>
</div>
<div class="row">
	<div class="col-md-7">
		{% include "widget/items.html" %}
		{% module Template("widget/pagination.html", pagination=pagination, url_name="tag", arg1=tag) %}
	</div>
	<div class="col-md-5">
		{% comment include "widget/about_box.html" %}
		{% include "widget/search_box.html" %}
	</div>
</div><!--EOF row-->
{% end %}
