<script>
$(function(){
	$('.joke-item').hover(function(){
		$(this).find('.opt-area').toggle();
	});
});
</script>
{% for item in items %}
	<div class="joke-item">
		<p>{{ item['cont'] }}</p>
        {% if current_user %}
		<div class="pull-left opt-area">
			<i><a class="btn btn-danger btn-xs" href="{{ reverse_url('delete', item['_id']) }}">Del</a></i>
			<i><a class="btn btn-info btn-xs" href="{{ reverse_url('edit', item['_id']) }}">Edit</a></i>
		</div>
        {% end %}
		<div class="pull-right">
			<i><a href="{{ reverse_url('joke', item['_id']) }}">详细</a></i>
		</div>
	</div>
	<hr/>
{% end %}
